  /* Estilos comunes para el contenedor de texto */
  .text-container {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidenav {
    padding-top: 20px;
    background-color: var(--primary-1);
  }