
/* Estilos generales */
.sidenav {
  background-color: #f9f9f9;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidenav a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.sidenav a:hover {
  text-decoration: underline;
}

.well {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

/* Estilos para el contenedor del formulario */
.form-container {
  max-width: 450px;
  margin: 0 auto;
  background-color: #ffffff; /* Fondo blanco */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  text-align: left;
}

.form-label {
  font-weight: bold;
  color: #555;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@media (max-width: 768px) {
  .sidenav {
    height: auto;
    padding: 10px;
  }

  .well {
    margin-bottom: 5px;
  }
}

