    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      overflow: hidden;
      background-color: var(--primary-5);
    }
    
    .navbar-header {
      padding-top: 20px;
      background-color: var(--primary-1);
      height: 100%;
    }
    
    .navbar-brand {
      /* background-color: black; */
      height: 100%;
    }
        
    .logo-img {
      max-width: 100px;
    }